{#
/**
 * @file
 * OVERRIDE of V2 page template
 * Moved social icons from footer menu to Footer Third Container (page.footer_third)
 * Changed Welcome block to add club-border-bottom
 * Added Banner_pictures block
 * Added "if page.canceled" for cancellation block at start of page wrapper
 * Change all footer-container colors to w3-theme-d5: lines 262,268,277,286,392
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if page.primary_menu_vertical %}
  <!-- Start: Main Navigation - Vertical -->
  <div id="main-navigation-v" class="main-navigation-wrapper w3-sidebar w3-bar-block w3-animate-left w3-card w3-theme {{ color_primary_menu }}" role="navigation" aria-label="{{ 'Main Navigation'|t }}" >
    <div id="main-navigation-inner-v" class="main-navigation-inner-v">
      <div id="close-nav" class="close-nav w3-button w3-bar-block w3-large w3-theme {{ color_primary_menu }}">
        <i class="fa fa-close"></i>
      </div>
        {{ page.primary_menu_vertical }}
    </div>
  </div>
  <!-- End: Main Navigation - Vertical -->
{% endif %}

<!-- Start: Page Wrapper -->
<div class="page-wrapper w3-col w3-clear w3-animate-opacity w3-text-theme {{ color_page_wrapper }} ">

  {% if page.canceled %}
  <!-- Start: Canceled rides block. Block limited to <front> in block configuration. -->
	<div id="canceled-rides" class="w3-col w3-clear">
	  {{ page.canceled }}
	</div>
  {% endif %}

  <!-- Default page has Header then primary_menu -->
  <!-- CLUBTHEME - conditionally place primary_menu on top and add club-border-bottom to header classes-->
  {% if topnav %}
    {% if page.primary_menu %}
    <!-- Start: Main Navigation - Horizontal -->
    <div id="main-navigation-h" class="w3-col w3-clear main-navigation-wrapper w3-theme {{ color_primary_menu }}" role="navigation" aria-label="{{ 'Main Navigation'|t }}" >
      <div id="main-navigation-inner-h" class="w3-row main-navigation-inner-h {{ website_width }}">
        <div class="mobile-nav w3-hide-large w3-button w3-block w3-right-align w3-large w3-theme {{ color_primary_menu }}">
          <i class="fa fa-bars"></i>
        </div>
          {{ page.primary_menu }}
      </div>
    </div>
    <!-- End: Main Navigation - Horizontal -->
    {% endif %}
    <!-- Start: Header -->
    <header id="header" class="w3-col w3-clear club-border-bottom w3-theme-l4 {{ color_header }}" role="banner" aria-label="{{ 'Site header'|t }}">
      <div id="header-inner" class="w3-container header-inner {{ website_width }}">
        {% if page.primary_menu_vertical %}
          <div id="open-nav-inner" class="open-nav-inner w3-left w3-button w3-left-align w3-large w3-theme {{ color_primary_menu }}">
            <i class="fa fa-bars"></i>
          </div>
        {% endif %}
          {{ page.header }}
      </div>
    </header>
  {% else %}
    <!-- Start: Header -->
    <header id="header" class="w3-col w3-clear w3-theme-l4 {{ color_header }}" role="banner" aria-label="{{ 'Site header'|t }}">
      <div id="header-inner" class="w3-container header-inner {{ website_width }}">
        {% if page.primary_menu_vertical %}
          <div id="open-nav-inner" class="open-nav-inner w3-left w3-button w3-left-align w3-large w3-theme {{ color_primary_menu }}">
            <i class="fa fa-bars"></i>
          </div>
        {% endif %}
          {{ page.header }}
      </div>
    </header>
    <!-- End: Header -->
    {% if page.primary_menu %}
    <!-- Start: Main Navigation - Horizontal -->
    <div id="main-navigation-h" class="w3-col w3-clear main-navigation-wrapper w3-card w3-theme {{ color_primary_menu }}" role="navigation" aria-label="{{ 'Main Navigation'|t }}" >
      <div id="main-navigation-inner-h" class="w3-row main-navigation-inner-h {{ website_width }}">
        <div class="mobile-nav w3-hide-large w3-button w3-block w3-right-align w3-large w3-theme {{ color_primary_menu }}">
          <i class="fa fa-bars"></i>
        </div>
          {{ page.primary_menu }}
      </div>
    </div>
    <!-- End: Main Navigation - Horizontal -->
    {% endif %}
  {% endif %}
  {% if is_front and page.welcome_text %}
    <!-- Start: Welcome Text - CLUBTHEME adds border-bottom -->
    <div id="welcome-text" class="w3-col w3-clear w3-theme-l5 club-border-bottom {{ color_welcome_text }}">
      <div id="welcome-text-inner" class="w3-row welcome-text-inner {{ website_width }}">
        {{ page.welcome_text }}
      </div>
    </div>
    <!-- End: Welcome Text -->
  {% endif %}
  {% if page.highlighted %}
    <!-- Start: Highlighted -->
    <div id="highlighted" class="w3-col w3-clear w3-theme-l2 {{ color_highlighted}}">
      <div id="highlighted-inner" class="d8-fade w3-row highlighted-inner {{ website_width }}">
        {{ page.highlighted }}
      </div>
    </div>
    <!-- End: Highlighted -->
  {% endif %}
  {% if is_front %}
    {% if page.top_first or page.top_second or page.top_third %}
      <!-- Start: Top Container -->
      <div id="top-container" class="w3-col w3-clear w3-theme-l4 {{ color_top_container }}">
        <div id="top-container-inner" class="w3-row-padding top-container-inner {{ website_width }}">
          {% if page.top_first %}
            <!-- Start: Top container first region -->
            <div class="{{ top_w3css }} top-box {{ top_region ? 'top-region' }} first-top" >
              <div class="d8-fade w3-mobile w3-theme-l5 {{ color_top_first}}">
               {{ page.top_first }}
              </div>
            </div>
            <!-- End: Top Container First -->
          {% endif %}
          {% if page.top_second %}
            <!-- Start: Top Container Second  -->
            <div class="{{ top_w3css }} top-box {{ top_region ? 'top-region' }} second-top">
              <div class="d8-fade w3-mobile w3-theme-l5 {{ color_top_second }}">
               {{ page.top_second }}
              </div>
            </div>
            <!-- End: Top Container Second -->
          {% endif %}
          {% if page.top_third %}
          <!-- Start: Top Container Third -->
          <div class="{{ top_w3css }} top-box {{ top_region ? 'top-region' }} third-top">
            <div class="d8-fade w3-mobile w3-theme-l5 {{ color_top_third }}">
              {{ page.top_third }}
            </div>
          </div>
          <!-- End: Top Container Third -->
          {% endif %}
        </div>
      </div>
      <!-- End: Top container -->
    {% endif %}
  {% endif %}

  {% if page.banner_pictures %}
    <!-- Start: Banner pictures -->
    <div id="page-banner" class="w3-col w3-clear">
      {{ page.banner_pictures }}
    </div>
	<!-- End: Banner pictures -->
  {% endif %}

  {% if page.page_title and not is_front %}
    <!-- Start: Page Title -->
    <div id="page-title" class="w3-col w3-clear w3-theme-d5 {{ color_page_title }}">
      <div id="page-title-inner" class="d8-fade w3-row page-title-inner {{ website_width }}">
        {{ page.page_title }}
      </div>
    </div>
    <!-- End: Page Title -- >
  {% endif %}

  <!-- Start: Main -->
  <div id="main-container" class="w3-col w3-clear w3-theme-l5 {{ color_main }}">
    <div id="main-container-inner" class="w3-row main-container-inner {{ website_width }}">
      {% if page.breadcrumb|render|striptags|trim %}
        <!-- Breadcrumb -->
        <div class="w3-row {{ color_breadcrumb }}">
          {{ page.breadcrumb }}
        </div>
        <!-- End: Breadcrumb -->
      {% endif %}
      <!-- Start Main Container  -->
      <div class="w3-col w3-clear w3-row-padding">
        {% if page.sidebar_first %}
          <!-- Start Left SideBar -->
          <div class ="{{ sidebarfirst }} main-box {{ main_region ? 'main-region' }} first-sidebar" role="complementary">
            <div class="d8-fade w3-sidebar-first w3-mobile {{ color_sidebar_first }}">
              {{ page.sidebar_first }}
            </div>
          </div>
          <!-- End: Left SideBar -->
        {% endif %}
        {% if page.content %}
          <!-- Start: Main Content -->
          <div class="{{ content_w3css }} main-box {{ main_region ? 'main-region' }} w3css-content" role="main">
            <div class="d8-fade w3-mobile  {{ color_content }}">
			       {{ page.content }}
            </div>
          </div>
          <!-- End: Main Content -->
        {% endif %}
        {% if page.sidebar_second %}
          <!-- Start: Right SideBar -->
          <div class="{{ sidebarsecond }} main-box {{ main_region ? 'main-region' }} second-sidebar" role="complementary">
            <div class="d8-fade w3-sidebar-second w3-mobile {{ color_sidebar_second }}">
              {{ page.sidebar_second }}
            </div>
          </div>
          <!-- End: Right SideBar -->
        {% endif %}
      </div>
      <!-- End: Main Container  -->
    </div>
  </div>
  <!-- End: Main -->
  {% if is_front %}
    {% if page.full_width_blocks %}
      <!-- Start: Full width blocks. Alternating bkgrd color set by blocknum counter -->
      <div id="full_width" class="w3-col w3-clear full-width-blocks">
        {% set blocknum = 0 %}
        {% for block_key, block in page.full_width_blocks %}
          {% if block_key|first != '#' %}
            {% set blocknum = blocknum + 1 %}
            {% if blocknum is odd %}
              <div id="full-width-block" class="w3-clear w3-theme-d5 club-border-top club-border-bottom">
                <div class="full-width-blocks-inner">
                  {{ block }}
                </div>
              </div>
				  
            {% else %}
              <div id="full-width-block" class="w3-clear w3-theme-white club-border-bottom">
                <div class="full-width-blocks-inner">
                  {{ block }}
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}      
      </div>
    <!-- End: Full width blocks -->
    {% endif %}

    {% if page.bottom_first or page.bottom_second or page.bottom_third or page.bottom_forth %}
      <!-- Start: Bottom -->
      <div id="bottom-container" class="w3-col w3-clear w3-theme-l2 {{ color_bottom_container }}">
        <div id="bottom-container-inner" class="w3-row-padding bottom-container-inner {{ website_width }}">
            {% if page.bottom_first %}
              <!-- Start: Bottom First -->
              <div class="{{ bottom_w3css }} bottom-box {{ bottom_region ? 'bottom-region' }} first-bottom">
                <div class="d8-fade w3-mobile w3-theme-white {{ color_bottom_first }}">
                  {{ page.bottom_first }}
                </div>
              </div>
              <!-- End: Bottom First -->
            {% endif %}
            {% if page.bottom_second %}
              <!-- Start: Bottom Second -->
              <div class="{{ bottom_w3css }} bottom-box {{ bottom_region ? 'bottom-region' }} second-bottom">
                <div class="d8-fade w3-mobile w3-theme-l4 {{ color_bottom_second }}">
                  {{ page.bottom_second }}
                </div>
              </div>
              <!-- End: Bottom Second -->
            {% endif %}
            {% if page.bottom_third %}
              <!-- Start: Bottom Third  -->
              <div class="{{ bottom_w3css }} bottom-box {{ bottom_region ? 'bottom-region' }} third-bottom">
                <div class="d8-fade w3-mobile w3-theme-l4 {{ color_bottom_third }}">
                  {{ page.bottom_third }}
                </div>
              </div>
              <!-- End: Bottom Third -->
            {% endif %}
            {% if page.bottom_forth %}
              <!-- Start: Bottom Forth  -->
              <div class ="{{ bottom_w3css }} bottom-box {{ bottom_region ? 'bottom-region' }} forth-bottom">
                <div class="d8-fade w3-mobile w3-theme-l4 {{ color_bottom_forth }}">
                  {{ page.bottom_forth }}
                </div>
              </div>
              <!-- End: Bottom Forth -->
            {% endif %}
        </div>
      </div>
      <!-- End: Bottom -->
    {% endif %}
  {% endif %}

{#
   CLUBTHEME - MOVED SOCIAL ICONS FROM FOOTER MENU TO page.footer.third
    so we add "or show_social_icon" to conditions
#}
  {% if page.footer_first or page.footer_second or page.footer_third or show_social_icon %}
    <!-- start: Footer -->
    <div id="footer-container" class="w3-col w3-clear w3-theme-d3 {{ color_footer_container }}">
      <div id="footer-container-inner" class="w3-row-padding footer-container-inner {{ website_width }}">

      {# Use checkbox results to set footer blocks same color as container (solid footer) #}
      {% if solid_footer == 1 %}
        {% set fcolor1,fcolor2,fcolor3,iconfill,iconcolor = 'w3-theme-d3','w3-theme-d3','w3-theme-d3','w3-text-white','#ffffff' %}
      {% else %}
        {% set fcolor1,fcolor2,fcolor3,iconfill,iconcolor = 'w3-theme-l4','w3-theme-l5','w3-theme-l4','w3-text-black','#000000' %}
      {% endif %}

        {% if page.footer_first %}
          <!-- Start: Footer First  -->
        <div class="{{ footer_w3css }} footer-box {{ footer_region ? 'footer-region' }} first-footer">
          <div class="d8-fade w3-mobile {{ border_animation ? 'animate-border' }} {{ fcolor1 }} {{ color_footer_first }}">
              {{ page.footer_first }}
            </div>
          </div>
          <!-- End: Footer First -->
        {% endif %}
        {% if page.footer_second %}
          <!-- Start: Footer Second Region -->
        <div class="{{ footer_w3css }} footer-box {{ footer_region ? 'footer-region' }} second-footer">
          <div class="d8-fade w3-mobile {{ border_animation ? 'animate-border' }} {{ fcolor2 }} {{ color_footer_second }}">
              {{ page.footer_second }}
            </div>
          </div>
        <!-- End: Footer Second -->
        {% endif %}
        {% if page.footer_third or has_social == 1 %}
          <!-- Start: Footer Third -->
      <div class="{{ footer_w3css }} footer-box {{ footer_region ? 'footer-region' }} third-footer">
        <div class="d8-fade w3-mobile {{ border_animation ? 'animate-border' }} {{ fcolor3 }} {{ color_footer_third }}">
              {{ page.footer_third }}

              {# CLUBTHEME - MOVED SOCIAL ICONS FROM FOOTER MENU TO HERE #}
              {% if show_social_icon %}
                <!-- Start: Social Media -->
                {% if facebook_url %}
                  <a href="{{ facebook_url }}" class="{{ iconfill }} w3-icon w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank" >
                  <i class="fab fa-facebook"></i></a>
                {% endif %}
                {% if twitter_url %}
                  <a href="{{ twitter_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank" >
                  <i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if pinterest_url %}
                  <a href="{{ pinterest_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank">
                  <i class="fab fa-pinterest"></i></a>
                {% endif %}
                {% if google_plus_url %}
                  <a href="{{ google_plus_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank" >
                  <i class="fab fa-google-plus"></i></a>
                {% endif %}
                {% if linkedin_url %}
                  <a href="{{ linkedin_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank">
                  <i class="fab fa-linkedin"></i></a>
                {% endif %}
                {% if instagram_url %}
                  <a href="{{ instagram_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank">
                  <i class="fab fa-instagram"></i></a>
                {% endif %}
                {% if youtube_url %}
                  <a href="{{ youtube_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank">
                  <i class="fab fa-youtube"></i></a>
                {% endif %}
                {% if drupal_url %}
                  <a href="{{ drupal_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank" >
                  <i class="fab fa-drupal"></i></a>
                {% endif %}
                {% if rss_url %}
                  <a href="{{ rss_url }}" class="{{ iconfill }} w3-hover-opacity w3-show-inline-block w3-xlarge w3-padding" target="_blank" >
                  <i class="fab fa-rss"></i></a>
                {% endif %}
                <!-- Start: Cycling Links -->
                {% if rwgps_url %}
                  <a href="{{ rwgps_url }}" target="_blank" >
                   {# SVG from https://ridewithgps.com/help/ #}
                   <svg width="36px" height="26px" viewBox="0 0 36 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                    <title>Ride with GPS logo</title>
                    <desc>Created with Sketch</desc>
                    <defs></defs>
                    <g id="Stylesheet" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                     <g id="06" transform="translate(-1054.000000, -502.000000)" fill= "{{ iconcolor }}">
                     <g id="logo" transform="translate(1054.000000, 502.000000)">
                         <path d="M21.5185904,14.983152 C21.5198985,14.979055 21.5212034,14.9749685 21.5225051,14.9708928 C21.2363441,15.2734079 20.9131601,15.6392838 20.5364275,16.1029117 C19.5234873,17.3494922 17.5962672,19.6292609 17.2584048,20.0369709 C13.6411387,24.4020484 11.5454779,25.251268 9.24398302,25.416456 C8.83725666,25.4567301 8.38861729,25.4776246 7.89134512,25.4776246 C3.89612662,25.4776246 0,22.1072604 0,17.8567732 C2.28738614e-16,13.9154587 2.79459574,10.6597134 6.55411337,10.2320589 C6.84902515,10.1985119 7.42528855,10.1304218 8.1343055,10.2320589 C8.74939126,10.320231 9.71540496,10.6073395 9.86792273,11.0666859 C8.89327629,10.8644413 8.37741961,10.901665 7.85066706,10.963846 C6.47307381,11.1264654 5.50494313,11.5359779 4.8070534,12.0478853 C3.24973766,13.1901883 2.19490945,14.9268386 2.19490945,17.019473 C2.19490945,20.3708858 4.96562915,23.078989 8.2762734,23.078989 C9.94877289,23.078989 11.5064902,22.4208785 12.638551,21.3374933 C12.869208,21.145979 13.0674995,20.9650513 13.2208403,20.7996966 C14.7042439,19.2000717 17.5555156,15.7933479 17.5555156,15.0463377 C17.5555156,14.2161178 15.703907,12.3166206 13.7895033,11.1652661 C11.0632479,9.52565053 10.9544787,8.26933341 10.9544787,7.30842562 C10.9544787,4.22510221 15.6886867,2.61823626 20.2258859,3.06044013 C21.3372644,7.15650716 24.5610387,7.37609218 25.1192414,7.4161993 C26.7953666,7.53662969 27.6177343,7.40200846 28.6171315,7.1611477 C29.6165287,6.92028694 29.9333223,6.69361702 29.9333223,6.69361702 C29.9333223,6.69361702 29.9333223,7.03918317 29.1641485,7.55235467 C28.3949747,8.06552617 26.2585344,8.84832365 24.8082725,8.84832365 C21.7287695,8.84832365 20.0543181,7.53134223 18.5115535,5.79863653 C15.0187926,6.08019602 14.6891101,7.11323774 14.9083692,7.4422784 C15.4162015,8.20437906 20.8170746,11.9192348 21.2931819,11.8362086 C21.9006269,11.730279 24.2979141,9.70762718 28.0073727,10.0319072 C32.1733862,10.1449718 35.5628998,13.519042 35.5628998,17.7077131 C35.5628998,21.9685322 32.2320033,25.4166424 27.7914216,25.4166424 C24.1194363,25.4166424 21.676262,22.7958756 22.0976747,22.164255 C22.1027283,22.1566805 22.107639,22.1496945 22.1124114,22.1432602 C23.2347105,23.1960695 25.0698091,24.3094734 26.9209999,24.3094734 C30.4604522,24.3094734 33.3297452,21.5632739 33.3297452,18.1756651 C33.3297452,14.7880563 31.0168199,12.5472945 27.4951492,12.2283166 C25.9731481,12.0904602 25.0936786,12.3861432 24.1542453,12.8592361 C23.3483353,13.2650874 22.3126737,14.1621723 21.5185904,14.983152 Z" id="Combined-Shape"></path>
                         <path d="M24.6916908,5.51565483 C25.8124808,5.51565483 27.1030207,4.57605427 27.1030207,3.09333115 C27.1030207,1.61060804 25.6467991,0.65767234 24.2976113,0.393929295 C21.607445,-0.131952035 18.8480645,0.579279099 18.060989,1.86913836 C18.060989,1.86913836 18.3559913,1.76566855 18.7593026,1.67455868 C19.8115965,1.43684063 20.8502522,1.60551697 21.691771,2.13712575 C22.0658816,2.37346094 22.1126376,2.87325952 22.1106112,2.93148026 C22.0491134,4.69841739 23.5709009,5.51565483 24.6916908,5.51565483 Z" id="Oval-3" transform="translate(22.582005, 2.867498) rotate(-2.000000) translate(-22.582005, -2.867498) "></path>
                        </g>
                      </g>
                    </g>
                   </svg>
                  </a>
                {% endif %}
                {% if strava_url %}
                  <a href="{{ strava_url }}" target="_blank" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="40">
                     <path fill="{{ iconcolor}}" d="M13.447 35.846l2.973-3.558c1.82 1.386 3.892 1.97 5.846 1.97 1.002 0 1.437-.267 1.437-.718v-.05c0-.484-.518-.735-2.305-1.102-3.742-.768-7.032-1.837-7.032-5.362v-.05c0-3.174 2.472-5.63 7.082-5.63 3.224 0 5.596.768 7.533 2.288l-2.74 3.775a8.68 8.68 0 0 0-5.011-1.637c-.835 0-1.22.284-1.22.685v.05c0 .45.45.735 2.222 1.07 4.276.785 7.132 2.02 7.132 5.395v.033c0 3.508-2.9 5.646-7.366 5.646-3.39.017-6.43-.935-8.552-2.806zm21.48-9.454h-4.91v-4.727h15.4v4.727h-4.91v11.96h-5.58zm24.337 6.28c2.02-.986 3.29-2.673 3.29-5.095v-.05c0-1.72-.518-2.957-1.52-3.96-1.17-1.17-3.057-1.904-6.013-1.904h-8.15v16.687h5.58v-4.76h1.186l3.14 4.76h6.364zm-2.272-4.694c0 1.02-.818 1.62-2.138 1.62H52.45v-3.257h2.44c1.286 0 2.12.518 2.12 1.604v.033zm14.098-7.016l-9.003 17.39h5.98l3.023-6.08 3.023 6.08h5.98zm26.46 0l-9.003 17.39h5.98l3.023-6.08 3.023 6.08h5.98zM84.32 39.037l9.02-17.39h-5.98l-3.023 6.08-3.04-6.08h-5.98z"/>
                    </svg>
                  </a>
                {% endif %}
              {% endif %}

              {# CLUBTHEME - IF NOT SHOWING ICONS, SHOW TEXT #}
              {% if has_social == 1 and show_social_icon != 1 %}
                {% if facebook_url %}
                  <a href="{{ facebook_url }}" class='w3-social' target="_blank">Facebook</a><br>
                {% endif %}
                {% if twitter_url %}
                  <a href="{{ twitter_url }}" class='w3-social' target="_blank">Twitter</a><br>
                {% endif %}
                {% if pinterest_url %}
                  <a href="{{ pinterest_url }}" class='w3-social' target="_blank">Pinterest</a><br>
                {% endif %}
                {% if google_plus_url %}
                  <a href="{{ google_plus_url }}" class='w3-social' target="_blank">Google Plus</a><br>
                {% endif %}
                {% if linkedin_url %}
                  <a href="{{ linkedin_url }}" class='w3-social' target="_blank">LinkedIn</a><br>
                {% endif %}
                {% if instagram_url %}
                  <a href="{{ instagram_url }}" class='w3-social' target="_blank">Instagram</a><br>
                {% endif %}
                {% if youtube_url %}
                  <a href="{{ youtube_url }}" class='w3-social' target="_blank">YouTube</a><br>
                {% endif %}
                {% if rss_url %}
                  <a href="{{ rss_url }}" class='w3-social' target="_blank">Rss</a><br>
                {% endif %}
                {% if rwgps_url %}
                  <a href="{{ rwgps_url }}" class='w3-social' target="_blank">Ride With GPS</a><br>
                {% endif %}
                {% if strava_url %}
                  <a href="{{ strava_url }}" class='w3-social' target="_blank" >Strava</a><br>
                {% endif %}
              {% endif %}
              <!-- End: Footer Third -->
            </div>
          </div>
          <!-- End: Footer -->
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if page.footer_menu %}
    <!-- Start: Footer Menu -->
    <div id="footer-menu" class="w3-col w3-clear w3-theme-white {{ color_footer_menu }}">
      <div id="footer-menu-inner" class="w3-row footer-menu-inner {{ website_width }}">
        <!-- Start: Bottom Menu -->
        {% if page.footer_menu %}
          <div class="d8-fade w3-center w3-mobile">
            {{ page.footer_menu }}
          </div>
          <!-- End: Bottom Menu -->
        {% endif %}
      </div>
    </div>
    <!-- End: Footer Menu -->
  {% endif %}
  {% if copyright_text or show_credit_link %}
    <!-- Start: Copyright -->
    <div id="copyright" class="w3-col w3-clear w3-theme-d5 {{ color_copyright }}">
      <div id="copyright-inner" class="w3-row copyright-inner {{ website_width }}">
        {% if copyright_text %}
          <!-- Start: Copyright -->
          <div class="w3-half w3-container w3-mobile">
            <p class="w3-section w3-left-align w3-opacity w3-hover-opacity-off">{{copyright_text}}</p>
          </div>
          <!-- End: Copyright -->
        {% endif %}
        {% if show_credit_link %}
          <!-- Start: Credit Link -->
          <div class="w3-half w3-container w3-mobile">
            <p class="w3-section w3-right-align w3-opacity w3-hover-opacity-off">Developed &#38; Designed by: <a href="https://www.alaahaddad.com" title="Alaa Haddad" target="_blank">Alaa Haddad</a></p>
          </div>
          <!-- End: Credit Link -->
        {% endif %}
      </div>
    </div>
    <!-- End: Copyright -->
  {% endif %}
</div>

<!-- End: Page Wrapper -->
