{#
/**
 * @file
 * Theme override to allow templates extending this to remove classes.
 *
 */
#}

{%
  set classes = [
    'w3-block-95',
    'w3-block-wrapper',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes).removeClass(remove_class) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('w3-padding w3-block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</section>
