{#
/**
 * Overrides block.html.twig for Routes table displayed in block.
 * Display title as <h3-block-title> instead of <h2> to match field labels.
 * <h2> is hardcoded so can't change with attributes.
 */
#}

{%
  set classes = [
    'w3-block',
    'w3-block-wrapper',
	'w3-section',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes.addClass('h3-block-title') }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</section>
