{#
/**
 * @file
 * Override of node.html.twig to add shading on message but not comments.
 */
#}

{%
  set classes = [
    'forum-border',
  ]
%}
{{ attach_library('club_forum/club-forum-node') }}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('post-info clear-block') }}>
    <div class="post-info clear-block">

      <div class="posted-on">
        {% set postdate = node.getCreatedTime()|date('U')|format_date('long') %}
        {% trans %}Posted by <strong>{{ node.getOwner().getDisplayName() }}</strong> on {{ postdate }}{% endtrans %}
      </div>

      <div class="forum-post-panel-main"> 
          {{ content|without('comment_forum') }}
      </div>

    </div>
  </div>
</article>

<article {{ attributes.addClass('forum-comments').removeClass(classes) }}>
    {{ content.comment_forum }}
</article>
