{#
/**
 * Clubtheme override
 *   Add "<a name="top"></a>" and "Return to top"
 *   Replace deprecated "spaceless" with "apply spaceless"
 */
#}
{% apply spaceless %}
  <a name="top"></a>
  <div class="faqfield-anchor-list">
    <{{ list_type }}>
    {% for item in items %}
      <li><a href="#{{ item.name }}">{{ item.question }}</a></li>
    {% endfor %}
    </{{ list_type }}>
    {% for item in items %}
      <h3 class="faqfield-question">
        <a href="#{{ item.name }}" name="{{ item.name }}">{{ item.question }}</a>
      </h3>
      <div class="faqfield-answer">{{ item.answer }}</div>
      <a href="#top">Return to top</a>
    {% endfor %}
  </div>
{% endapply %}
