{#
/**
 * @file
 * Theme override for a field to allow other templates to remove classes.
 * In extended TWIG,
 *  "set remove_class     =" to remove from attributes.addClass
 *  "set remove_itemclass =" to remove from item.attributes.addClass
 *
 * Need empty 'remove_class' variables because child templates are processed
 *  BEFORE this parent template (even though the extend statement comes first).
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
	label_display == 'inline' ? 'clearfix',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items').removeClass(remove_class) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('w3-bar-item field__item').removeClass(remove_itemclass) }}>
		      {{ item.content }}
		    </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}

   {# {{ kint(item.content) }} #}

      <div{{ attributes.addClass(classes, 'w3-bar-item field__item').removeClass(remove_class) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes).removeClass(remove_class) }}>
    <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('w3-bar-item field__item').removeClass(remove_itemclass) }}>
	  {{ item.content }}
	  </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
