{#
/**
 * @file
 * Override d8w3css field-image.html.twig
 *  Removed 'w3-padding', 'w3-left' from classes
 *  Removed float (to center image) by taking this out of classes:
 *     'field--type-' ~ field_type|clean_class,
 * Added margin-bottom, w3-auto (auto margins left & right)
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{%
  set item_classes = [
    'field__item',
    'w3-padding-8'
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass(item_classes) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, item_classes) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
    {% if multiple %}
      <div class="field__items">
    {% endif %}

    {% for item in items %}
	    <div{{ item.attributes.addClass(item_classes) }}>
		  {{ item.content }}
		</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
