{#
/**
 * @file
 * Theme override - add w3-margin-top8 to add space between multiple buttons.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
	label_display == 'inline' ? 'clearfix',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('w3-bar-item w3-margin-top8 field__item') }}>
		      {{ item.content }}
		    </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}

   {# {{ kint(item.content) }} #}

      <div{{ attributes.addClass(classes, 'w3-bar-item w3-margin-topbottom field__item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('w3-bar-item w3-margin-topbottom field__item') }}>
	  {{ item.content }}
	  </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
