{#
/**
 * @file
 * Theme override for Ride Leader field.
 * Purpose: link to contact form not user entity.
 * Replace {{ item.content }} with
 * {{ url_prefix|raw }}{{ attribute(item.content,'#url') }}/contact">{{ attribute(item.content,'#title') }}</a>
 *
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% set url_prefix = '<a href="../contact/' %}

<div{{ attributes.addClass(classes) }}>
  <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
  {% if multiple %}
    <div class="field__items">
  {% endif %}
  {% for item in items %}
    <div{{ item.attributes.addClass('w3-bar-item field__item') }}>

    {% set user = item.content['#cache']['tags'][0] %}
    {% if user starts with 'user:' %}
        {% set uid = user|split(':')[1] %}
        {{ url_prefix|raw }}{{ uid }}/contact">{{ attribute(item.content,'#title') }}</a>  
    {% endif %}

  </div>
  {% endfor %}
  {% if multiple %}
    </div>
  {% endif %}
</div>

