{#
/**
 * @file
 * Theme override to add padding-right to ride picture
 * Also simplified template since just one picture is allowed
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
	label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

 <div{{ attributes.addClass(classes) }}>
    <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
    {% for item in items %}
      <div{{ item.attributes.addClass('w3-bar-item w3-padding-right field__item') }}>
	  {{ item.content }}
	  </div>
    {% endfor %}
</div>
