{#
/**
 * @file
 * Clubtheme version changes H2 headers to H3.
 *  removed 'w3-margin-left' from h3 class
 *
 * @see template_preprocess_field()
 * @see comment_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-row',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'comment-wrapper',
  ]
%}
{%
  set title_classes = [
    'title',
	'add-comment',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    <h3 class="w3-opacity w3-hover-opacity-off title add-comment comment-form__title">{{ 'Add new comment'|t }}</h3>
    {{ comment_form }}
  {% endif %}

</section>
