{#
/**
 * @file
 * Override for forum post. Change title (was "Add Comment").
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
	label_display == 'inline' ? 'clearfix',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
   {# {{ kint(item.content) }} #}
   <div{{ attributes.addClass(classes, 'w3-bar-item field__item') }}>{{ item.content }}</div>
  {% endfor %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('w3-bar-item field__item') }}>
	      {{ item.content }}
	    </div>
    {% endfor %}
  </div>
{% endif %}
