{#
/**
 * @file
 * Theme override to display registration link as a button
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
	label_display == 'inline' ? 'clearfix',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
    <div{{ attributes.addClass(classes, 'field__items').removeClass(remove_class) }}>
      {% for item in items %}
        <p class="dark-button">{{ item.content }}</p>
      {% endfor %}
    </div>
{% else %}
  <div{{ attributes.addClass(classes).removeClass(remove_class) }}>
    <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
    {% for item in items %}
      <p class="dark-button">{{ item.content }}</p>
    {% endfor %}
  </div>
{% endif %}
