{#
/**
 * @file
 * Override - do not print value if "Enter below"
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
	label_display == 'inline' ? 'clearfix',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

  <div{{ attributes.addClass(classes).removeClass(remove_class) }}>
    
    {% for item in items %}
      {% if item.content['#markup'] == 'Same as starting location' %}
        <label{{ title_attributes.addClass(title_classes) }}>{{ label }}</label>
        <div{{ item.attributes.addClass('w3-bar-item field__item').removeClass(remove_itemclass) }}>
          {{ item.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

