{#
/**
 * @file
 * Clubtheme version
 *  Remove title, permalink, and "new" indicator
 *  Remove "Member as of" by removing that field from user display (compact)
 *  Display author name as plain text (see clubtheme.theme, hook_preprocess_comment)
 *  Display author and date on same line above content (not in left margin)
 *  Remove from classes: w3-container (removes margins), 
 */
#}
{% if threaded %}
  {{ attach_library('claro/classy.indented') }}
{% endif %}
{%
  set classes = [
    'comment',
    'js-comment',
    status != 'published' ? status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
  ]
%}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>

  <footer class="comment__meta">


    {#
      Indicate the semantic relationship between parent and child comments
      for accessibility. The list is difficult to navigate in a screen
      reader without this information.
    #}
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
  </footer>

  <div{{ content_attributes.addClass('comment__content') }}>
  	
	{{ user_picture }}
    <strong>{{ author_name }}</strong> - <span class="comment__time">{{ created }}</span>
	{{ content }}
  </div>
</article>
