{#
/**
 * @file
 * Override - remove top/bottom margin (10px) on h3 title.
 */
#}
{%
  set classes = [
    'w3-row',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<teaser{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    {# edited next line to add "nomargin" #}
    <h3 {{ title_attributes.addClass('nomargin node__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  {% endif %}
  {{ title_suffix }}


  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('w3-small node__submitted') }}>
        {% trans %}Submitted by: {{ author_name }} <br> on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('node__content','w3-container') }}>
    {{ content }}

  </div>
</teaser>
