{#
/**
 * @file
 * Template override for location node.
 * Removes hardcoded <h3> tag, link on location title (placename),
 *  and <div> around content.
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'w3-row',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}

  {# REMOVED <H3>, TITLE ATTRIBUTES, AND LINK TO CONTENT #}
    {{ label }}
  {% endif %}
  {{ title_suffix }}


  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('w3-small node__submitted') }}>
        {% trans %}Submitted by: {{ author_name }} <br> on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  {# REMOVED <DIV> AND content_attributes.addClass #}
  {{ content }}
</article>
