{%
  set classes = [
    'w3-row',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h3 {{ title_attributes.addClass('w3-margin-left node__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  {% endif %}
  {{ title_suffix }}


  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('w3-small node__submitted') }}>
        {% trans %}Submitted by: {{ author_name }} <br> on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}


  <div{{ content_attributes.addClass('w3-container node__content') }}>
	<h5>Recurring Ride cancellation status</h5>
	{{ content.field_canceled_ride_name }} on {{ content.field_canceled_date }} 
	<strong>{{ content.field_canceled }} </strong>
  </div>

  
</article>
